{% extends "layout.html" %}

{% block body %}
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nihil aliquid officia quam odit neque, rem quisquam mollitia nam maiores corporis cupiditate provident rerum blanditiis similique! Veniam provident necessitatibus quae.Obcaecati nihil facere earum minima in! Hic at voluptas maiores veritatis qui excepturi ab quam quasi quod reprehenderit. Magni aperiam itaque quibusdam rem, modi ad amet dolor nulla quidem sunt.</p>
{% endblock %}